{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<style>

#recordButton {
    width: 300px;
    height: 300px;
    font-size: 150px;
}

#h1 {
    color: #343a40;
}

</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <br><br><br><br><br>
            <h1 class="display-4" id="h1">
                What can I do for you?
            </h1>
            <br>
        </div>
    </div>
    <div class="row flex-fill">
        <div class="col text-center">
            <button class="btn btn-primary rounded-circle" id="recordButton">
                <i class="fas fa-microphone"></i>
            </button>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/recorder.js' %}"></script>
<script>

var gumStream; 						//stream from getUserMedia()
var rec; 							//Recorder.js object
var input; 							//MediaStreamAudioSourceNode we'll be recording

// shim for AudioContext when it's not avb. 
var AudioContext = window.AudioContext || window.webkitAudioContext;
var audioContext //audio context to help us record

var recordButton = document.getElementById("recordButton");
var isRecording = false;

//add events to those 2 buttons
recordButton.addEventListener("click", startRecording);

function startRecording() {
    console.log("recordButton clicked");
    $(this).removeClass("btn-primary").addClass("btn-danger");
    if (isRecording == false){
        isRecording = true;
        // recordButton.innerHTML = 'Stop';
        /*
        Simple constraints object, for more advanced audio features see
        https://addpipe.com/blog/audio-constraints-getusermedia/
        */
            
        var constraints = { audio: true, video:false }

        /*
        We're using the standard promise based getUserMedia() 
        https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia
        */

        navigator.mediaDevices.getUserMedia(constraints).then(function(stream) {
        console.log("getUserMedia() success, stream created, initializing Recorder.js ...");

        /*
            create an audio context after getUserMedia is called
            sampleRate might change after getUserMedia is called, like it does on macOS when recording through AirPods
            the sampleRate defaults to the one set in your OS for your playback device

        */
        audioContext = new AudioContext();

        //update the format 
        console.log("sample rate: " + audioContext.sampleRate/1000+"kHz");

        /*  assign to gumStream for later use  */
        gumStream = stream;
        
        /* use the stream */
        input = audioContext.createMediaStreamSource(stream);

        /* 
            Create the Recorder object and configure to record mono sound (1 channel)
            Recording 2 channels  will double the file size
        */
        rec = new Recorder(input,{numChannels:1})

        //start the recording process
        rec.record()

        console.log("Recording started");

        }).catch(function(err) {
        //enable the record button if getUserMedia() fails
            // recordButton.disabled = false;
            stopButton.disabled = true;
            pauseButton.disabled = true
        });
    } else {
        isRecording = false;
        stopRecording();
    }
}

function stopRecording() {
    $('#recordButton').removeClass("btn-danger").addClass("btn-primary");
    // recordButton.innerHTML = 'Record';
	//tell the recorder to stop the recording
	rec.stop();

	//stop microphone access
	gumStream.getAudioTracks()[0].stop();

	//create the wav blob and pass it on to createDownloadLink
	rec.exportWAV(sendAudioFile);
}

function sendAudioFile(blob) {
    var fd = new FormData();
    fd.append("audio_data",blob, "command.wav");
    
	$.ajax({
        method: 'POST',
        data: fd,
        url: '/receive_audio',
        processData: false,
        contentType: false
    }).done(function(msg){
        console.log(msg);
        if(msg.intent == 'open_account'){
            window.location.href = '/bank/create';
        } else if(msg.intent == 'money_transfer'){
            window.location.href = '/bank/transfer';
        }
    });
}
</script>
{% endblock %}