{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<style>

#transfer{
    font-size: 150px;
    height: 300px;
    width: 300px;
}

#h1 {
    color: #343a40;
}

</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <br><br><br><br><br>
            <h1 class="display-4" id="h1">
                Menu
            </h1>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <button class="btn btn-success rounded-circle" id="transfer">
                <i class="fas fa-share-square"></i>
            </button>
        </div>
        <!-- <div class="col-6 text-left">
            <button class="btn btn-success" id="balance">Balance</button>
        </div> -->
    </div>
    <br>
</div>
{% endblock %}

{% block scripts %}
<script>
$(function(){
    var transfer = $('#transfer');
    var balance = $('#balance');

    transfer.click(function(){
        window.location.href = 'transfer';
    });

    transfer.mouseover(function(){
        $(this).css('font-size', '50px').html('Money<br>Transfer');
    });

    transfer.mouseout(function(){
        $(this).css('font-size', '150px').html('<i class="fas fa-share-square"></i>');
    });
});
</script>
{% endblock %}