<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <!-- fixed-top -->
    <div class="container-fluid">
        <a class="navbar-brand" href="/">FinTank</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/"><i class="fas fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/security">Security</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bank/create">Open Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bank/transfer">Money Transfer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/face_utils/get_members">Show accounts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/face_utils/del_members">Delete accounts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bank/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>